# Environnements virtuels
.venv/
venv/
env/

# Fichiers Python compilés
*.pyc
__pycache__/

# Fichiers de logs et bases locales
*.log
db.sqlite3

# Configurations système / IDE
.vscode/
.idea/

# Fichiers temporaires
*.bak
*.tmp
.DS_Store

# Cache Django
/staticfiles/
