{% extends 'layouts/base.html' %}
{% block title %}Détail de l'artiste{% endblock %}

{% block content %}
<h1>{{ artist.firstname }} {{ artist.lastname }}</h1>

<p><a href="{% url 'catalogue:artist-index' %}">⬅️ Retour à la liste</a></p>

<!-- Boutons -->
<p>
  <a href="{% url 'catalogue:artist-edit' artist.id %}">✏️ Modifier</a>
</p>

<form method="post" action="{% url 'catalogue:artist-delete' artist.id %}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet artiste ?')">
  {% csrf_token %}
  <button type="submit">🗑️ Supprimer</button>
</form>
{% endblock %}

